body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
ul {
  list-style: none;
}

ul li {
  margin-bottom: 20px;
  box-shadow: 0 3px 7px #00577759;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  transition: 0.2s ease;
  position: relative;
  left: 0;
  font-size: 1em;
}

ul li:hover {
  left: 5px;
}

sub {
  /* font-weight: bold; */
  /* color: rgb(138, 138, 138); */
  opacity: 0.7;
}
